---
import Layout from '../layouts/Layout.astro';
import ProductList from '../components/ProductList.astro';
import UserProfile from '../components/UserProfile.astro';
---

<Layout title="Dashboard">
  <main>
    <h1>Dashboard</h1>
    <ProductList />
    <UserProfile />
  </main>
</Layout>
