---
import Layout from '../layouts/Layout.astro';
import ProductList from '../components/ProductList.astro';
---

<Layout title="Products">
  <main>
    <h1>Our Products</h1>
    <ProductList />
  </main>
</Layout>
