---
import Layout from '../../layouts/Layout.astro';
// TODO: Set up Content Collections and display blog posts here
// Use getCollection() to query all blog posts
// Sort posts by pubDate and display their title and date
---

<Layout title="Blog">
  <main>
    <h1>Blog</h1>
    <p>Blog posts coming soon...</p>
  </main>
</Layout>
